.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 40px;
}

.settings-tray {
    background: #eee;
    padding: 10px 15px;
    border-radius: 7px;
}
.settings-tray.no-gutters

{
    padding: 0;
}

settings-tray.--right {
    float: right;
}
.settings-tray.right.i {
    margin-top: 10px;
    font-size: 25px;
    color: grey;
    margin-left: 14px;
    transition: .3s;
}
    .settings-tray.right.i:has(:hover) {
        color: #74b9ff;
        cursor: pointer;
    }

.search-box {
    background: #fafafa;
    padding: 10px 13px;
}
.input-wrapper {
    background: #fff;
    border-radius: 40px;
}
.friend-drawer {
    padding: 10px 15px;
    display: flex;
    vertical-align: baseline;
    background: #fff;
    transition: .3s ease;
}
friend.friend-drawer.--grey
{
    background: #eee;
}

.text {
    margin-left: 12px;
    width: 70%;
}
h6 
{
    margin-top: 6px;
    margin-bottom: 0;
}

p {
    margin: 0;
}

.time {
    color: grey;
}

time.--onhover:hover {
    background: $blue;
    cursor: pointer;
}

hr {
    margin: 5px auto;
    width: 60%;
}

.chat-bubble {
    padding: 10px 14px;
    background: #eee;
    margin: 10px 30px;
    border-radius: 9px;
    position: relative;
    animation: fadeIn 1s ease-in;
}
.chat-bubble::after
{
    content: '';
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom: 0;
    margin-top: -10px;
}

.chat-bubble.--left::after
{
    left: 0;
    border-right-color: #eee;
    border-left: 0;
    margin-left: -20px;
}

}

.chat-bubble.--right::after {
    right: 0;
    border-left-color: #74b9ff;
    border-right: 0;
    margin-right: -20px;
}

.my-message {
    margin-left: 75%;
}

.color-my-message {
    background: #0DB8DE;
    color: whitesmoke;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.offset-md-9.chat-bubble {
    background: #74b9ff;
    color: #fff;
}


.chat-box-tray {
    background: #eee;
    display: flex;
    align-items: baseline;
    padding: 10px 15px;
    align-items: center;
    margin-top: 19px;
    bottom: 0
}


body {
    background: #222D32;
    font-family: 'Roboto', sans-serif;
}

.login-box {
    margin-top: 75px;
    height: auto;
    background: #1A2226;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.login-key {
    height: 100px;
    font-size: 80px;
    line-height: 100px;
    background: -webkit-linear-gradient(#27EF9F, #0DB8DE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-title {
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 15px;
    font-weight: bold;
    color: whitesmoke;
}

.login-form {
    margin-top: 25px;
    text-align: left;
}

input[type=text] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color: #ECF0F5;
}

input[type=password] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    color: #ECF0F5;
}

.form-group {
    margin-bottom: 40px;
    outline: 0px;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #0DB8DE;
    outline: 0;
    background-color: #1A2226;
    color: #ECF0F5;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0;
}

label {
    margin-bottom: 0px;
}

.form-control-label {
    font-size: 10px;
    color: whitesmoke;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn-outline-primary {
    border-color: #0DB8DE;
    color: #0DB8DE;
    border-radius: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color:black;
}

    .btn-outline-primary:hover {
        background-color: #0DB8DE;
        right: 0px;
    }

.login-btm {
    float: left;
}

.login-button {
    padding-right: 0px;
    text-align: right;
    margin-bottom: 25px;
}

.login-text {
    text-align: left;
    padding-left: 0px;
    color: #A2A4A4;
}

.loginbttm {
    padding: 0px;
}

.dropdown-list-outline-primary {
    border-color: #0DB8DE;
    color: #0DB8DE;
    border-radius: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: black;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float:left;
    margin-top:10px;
}
.heart {
    width: 100px;
    height: 100px;
    background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
    background-position: 0 0;
    cursor: pointer;
    transition: background-position 1s steps(28);
    transition-duration: 0s;
}
.is-active
{
    transition-duration: 1s;
    background-position: -2800px 0;
}

body {
    background: #000000;
}

.placement {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin-top: 20px;
}

.content-item {
    padding: 30px 0;
    background-color: #FFFFFF;
}

    .content-item.grey {
        background-color: #F0F0F0;
        padding: 50px 0;
        height: 100%;
    }

    .content-item h2 {
        font-weight: 700;
        font-size: 35px;
        line-height: 45px;
        text-transform: uppercase;
        margin: 20px 0;
    }

    .content-item h3 {
        font-weight: 400;
        font-size: 20px;
        color: #555555;
        margin: 10px 0 15px;
        padding: 0;
    }

.content-headline {
    height: 1px;
    text-align: center;
    margin: 20px 0 70px;
}

    .content-headline h2 {
        background-color: #FFFFFF;
        display: inline-block;
        margin: -20px auto 0;
        padding: 0 20px;
    }

.grey .content-headline h2 {
    background-color: #F0F0F0;
}

.content-headline h3 {
    font-size: 14px;
    color: #AAAAAA;
    display: block;
}

.nameLink {
    font-size: 20px;
    float: left;
    padding-left: 5px;
    padding-top: 20px;
    text-decoration: underline;
}

    .nameLink:hover {
        color: #0DB8DE;
    }

.searchNameLink {
    font-size: 18px;
    color: whitesmoke;
    text-decoration: underline
}

    .searchNameLink:hover {
        color: #0DB8DE;
    }

.commentNameLink {
    color:whitesmoke;
    font-size: 18px;
    float: left;
    margin-top: 10px;
    text-decoration: underline;
}

    .commentNameLink:hover {
        color: #0DB8DE;
    }

.margin-left{
    margin-left:25%
}

.profile-buttons {
    margin-left: 40px;
    margin: 10px;
    height: 34px;
}


.profile-header {
    transform: translateY(5rem);
}



#comments {
    box-shadow: 0 -1px 6px 1px rgba(0,0,0,0.1);
    background-color: #FFFFFF;
}

    #comments form {
        margin-bottom: 30px;
    }

    #comments .btn {
        margin-top: 7px;
    }

    #comments form fieldset {
        clear: both;
    }

    #comments form textarea {
        height: 100px;
    }

    #comments .media {
        border-top: 1px dashed #DDDDDD;
        padding: 20px 0;
        margin: 0;
    }

        #comments .media > .pull-left {
            margin-right: 20px;
        }

        #comments .media img {
            max-width: 100px;
        }

        #comments .media h4 {
            margin: 0 0 10px;
        }

            #comments .media h4 span {
                font-size: 14px;
                float: right;
                color: #999999;
            }

        #comments .media p {
            margin-bottom: 15px;
            text-align: justify;
        }

    #comments .media-detail {
        margin: 0;
    }

        #comments .media-detail li {
            color: #AAAAAA;
            font-size: 12px;
            padding-right: 10px;
            font-weight: 600;
        }

        #comments .media-detail a:hover {
            text-decoration: underline;
        }

        #comments .media-detail li:last-child {
            padding-right: 0;
        }

        #comments .media-detail li i {
            color: #666666;
            font-size: 15px;
            margin-right: 10px;
        }

